<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <div class="container">
            <h1>Open PRs: {{prs.length}}</h1>
            {{#each prs}} 
                <h2>Title: <a href={{url}} target="_blank">{{title}}</a></h2>
                <h3>Created by: @{{creator}}</h3>
                <p>Commits: {{commit_count}}</p>
                <p>Comments: {{comment_count}}</p>
            {{/each}}
        </div>
    </body>
</html>
